# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/

# Database

# Media uploads (optional)
media/

# Static files collected for production
staticfiles/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db