# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/

# Django database
db.sqlite3
*.sqlite3

# Media uploads
media/

# Static files collected for production
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db